@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
	background-color: black;
}

#wrapper {
	width: 95%;
	margin: 0 auto;
	height: 100vh;
	background-color: black;
	padding-bottom: 70px;
}

#nav {
	background-color: black;
	color: white;
}

#logo {
	font-style: italic;
	font-size: 50px;
	font-family: 'Roboto', 'Times New Roman';
	display: inline-block;
	margin-left: 10px;
	margin-top: 30px;
}

#menu {
	list-style-type: none;
	display: inline-block;
	position: relative;
	left: 40px;
	bottom: 10px;
	font-family: 'Roboto', 'Times New Roman';
}

#menu li {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}

#content {
	padding-bottom: 50px;
	padding-top: 30px;
	background-color: black;
}

.webWorkWrapper {
	height: 200px;
	margin-bottom: 40px;
}

.webWork {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}