* {
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans";
}

html, body {
	height: 100%;
	width: 100%;
}

#wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}

/* NAV --- NAV --- NAV --- NAV --- NAV --- NAV --- NAV --- NAV --- NAV */
#nav {
	height: 100%;
	width: 180px;
	background-color: #131414;#2A3132;
	color: white;
	display: inline-block;
	position: fixed;
	text-align: center;
}

#logo {
	font-family: "times new roman";
	font-style: italic;
	font-size: 40px;

	margin-top: 30px;
}

#menu {
	position: absolute;
	bottom: 100px;
	text-align: center;
	left: 0;
	width: 100%;
}

#menu li {
	margin-top: 15px;
	font-size: 13px;
	cursor: pointer;
}

#menu li:hover {
	color: crimson;
}

#nav i {
	font-size: 30px;
	position: absolute;
	bottom: 20px;
	color: white;
	left: 76px;
}

#nav i:hover {
	color: crimson;
}


/* MAIN --- MAIN --- MAIN --- MAIN --- MAIN --- MAIN --- MAIN --- MAIN */

#main {
	background-color: red;
	height: 300%;
	display: inline-block;
	flex-grow: 100;
	padding-left: 180px;
}

/* JUMBOTRON --- JUMBOTRON --- JUMBOTRON --- JUMBOTRON --- JUMBOTRON */

#jumbotronBorder {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: #131414;
}

#jumbotronWrapper {
	height: 100%;95%;
	width: 100%;96%;

	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: block;
	margin: auto;
	overflow: hidden;
}

.jumbotron {
	height: 100%;
	width: 110%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: absolute;
}

#jumbotron1 {
	background-image: url("pomodoro.png");
}

#jumbotron2 {
	background-image: url("background4.jpg");
	opacity: 0;
}

#jumbotron3 {
	background-image: url("seuss.png");
	opacity: 0;
}

.animateJumbotron {
	animation: animateJumbotron 5s linear forwards;
}

@keyframes animateJumbotron {
	0% {transform: translateX(-8px); opacity: 100}
	75% {opacity: 100}
	100% {transform: translateX(-28px); opacity: 0}
}

.fadeIn {
	animation: fadeIn 2s linear forwards;
}

@keyframes fadeIn {
	from {opacity: 0; transform: translateX(0px);}
	to {opacity: 100; transform: translateX(-8px);}
}

/* WORK --- WORK --- WORK --- WORK --- WORK --- WORK --- WORK --- WORK */

#work {
	height: 200vh;
	width: 100%;
	background-color: #1C2229;
}

.workBlock {

}

/* ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT --- ABOUT */

#about {
	width: 100%;
	height: 400px;
	background-color: white;
}