* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(
      to right bottom,
      rgb(26, 38, 36),
      rgb(0, 0, 0)
    ),
    linear-gradient(transparent, rgb(0, 0, 0) 70%); */
  background-color: rgb(3, 3, 3);
  min-height: 100vh;
  justify-content: center;
  padding-bottom: 40px;
}

.content {
  width: 900px;
}

.App-header {
  /* background-color: #282c34; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#projects {
  /* width: 1000px; */
  display: flex;
  margin-left: -11px;
  margin-right: -11px;
}

.project-wrapper {
  /* padding: 20px;
  flex: 1 0 auto;
  overflow: hidden; */
  padding: 11px;
}

.project {
  /* width: 100%;
  height: 100%;
  max-width: 100%; */
}

.App-link {
  color: #61dafb;
}

.projects-row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project {
  background-color: #181818;
  border-radius: 3px;
  /* padding: 16px; */
  /* width: 200px; */
  font-family: "Roboto";
  text-align: left;
}

.project-content {
  padding: 16px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.35em;
  line-height: 1.33;
}

.project-description {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

.text-button {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  display: inline-block;
}
