* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  background-image: linear-gradient(
      to right bottom,
      rgb(26, 38, 36),
      rgb(0, 0, 0)
    ),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#projects {
  width: 1000px;
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}

.project-wrapper {
  /* flex-basis: 20%; */
  padding: 20px;
  flex: 1 0 auto;
  overflow: hidden;
}

.project {
  width: 100%;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project {
  background-color: #181818;
  border-radius: 3%;
  /* padding: 16px; */
  /* width: 200px; */
  font-family: "Roboto";
  text-align: left;
}

.project-content {
  padding: 16px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.35em;
  line-height: 1.33;
}

.project-description {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

.text-button {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  display: inline-block;
}
